{% extends 'layout.html' %}
{% block body %}
<div class="container">
      <h1>login</h1>
      <br>
      <form action="{{ url_for('auth.login') }}" method="post">
        <input id="username" class="form-control" type="text" name="username" placeholder="username" value="{{
          request.form.username }}">
		  <input id="password" class="form-control" type="password" name="password" placeholder="password" value="{{
          request.form.password }}">
    <button type="submit" class="btn btn-outline-primary">Login</button>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
</div>
{% endblock %}
