{% extends 'layout.html' %}

{% block body %}
<div >
  <h1 >
          Resent Questions
  </h1>
  <div >
<a href="/questions/ask" >
Ask Question
</a>
  </div>
</div>

<a class="" href="?tab=Python" data-nav-xhref="" title="All Questions about Python tag" data-value="Python" data-shortcut="PY">Python</a>
<a class="" href="?tab=JavaScript" data-nav-xhref="" title="All Questions about JavaScript tag" data-value=" JavaScript" data-shortcut="J">JavaScript</a>
<a class="" href="?tab=Html" data-nav-xhref="" title="All Questions about Html tag" data-value="Html" data-shortcut="H">Html</a>
<a class="" href="?tab=PHP" data-nav-xhref="" title="All Questions about PHP tag" data-value="PHP" data-shortcut="P">PHP</a>
<a class="" href="?tab=C#" data-nav-xhref="" title="All Questions about C# tag" data-value="C#" data-shortcut="C">C#</a>

<div id="qlist-wrapper" class="flush-left">
  <div id="question-mini-list">
      <div>
                  
<div class="question-summary narrow" id="question-summary-62247879">
  <div onclick="window.location.href='/questions/62247879/handlechange-redux'" class="cp">
              <div class="votes">
          <div class="mini-counts"><span title="0 votes">0</span></div>
          <div>votes</div>
      </div>

              <div class="status unanswered">
          <div class="mini-counts"><span title="0 answers">0</span></div>
          <div>answers</div>
      </div>

              <div class="views">
          <div class="mini-counts"><span title="4 views">4</span></div>
          <div>views</div>
      </div>

  </div>
  <div class="summary">

      
      <h3><a href="/questions/62247879/handlechange-redux" class="question-hyperlink">HandleChange Redux</a></h3>
      <div class="tags t-javascript t-reactjs t-redux">
          <a href="/questions/tagged/javascript" class="post-tag" title="show questions tagged 'javascript'" rel="tag">javascript</a> <a href="/questions/tagged/reactjs" class="post-tag" title="show questions tagged 'reactjs'" rel="tag">reactjs</a> <a href="/questions/tagged/redux" class="post-tag" title="" rel="tag">redux</a> 
      </div>
      <div class="started">
          <a href="/questions/62247879/handlechange-redux" class="started-link">
asked <span title="2020-06-07 15:51:03Z" class="relativetime">29 secs ago</span>            </a>
          <a href="/users/11723788/b%c5%82a%c5%bcej-witczak">Błażej Witczak</a> <span class="reputation-score" title="reputation score " dir="ltr">23</span>
      </div>
  </div>
</div>

                
      
{% endblock %}
