
    <div class="s-navigation s-navigation__muted s-navigation__sm">
            <a class="s-navigation--item is-selected" href="/users/13700571/elderkali-tog?tab=summary" title="Your overall summary" data-shortcut="S">
                Summary
            </a>
            <a class="s-navigation--item" href="/users/13700571/elderkali-tog?tab=answers" title="Answers you provided" data-shortcut="A">
                Answers
            </a>
            <a class="s-navigation--item" href="/users/13700571/elderkali-tog?tab=questions" title="Questions you asked" data-shortcut="Q">
                Questions
            </a>
            <a class="s-navigation--item" href="/users/13700571/elderkali-tog?tab=tags" title="Tags you have posts in" data-shortcut="T">
                Tags
            </a>
            <a class="s-navigation--item" href="/users/13700571/elderkali-tog?tab=badges" title="Badges you have earned" data-shortcut="B">
                Badges
            </a>
            <a class="s-navigation--item" href="/users/13700571/elderkali-tog?tab=bookmarks" title="Questions you have bookmarked" data-shortcut="F">
                Bookmarks
            </a>
            <a class="s-navigation--item" href="/users/13700571/elderkali-tog?tab=bounties" title="Bounties you have participated in" data-shortcut="O">
                Bounties
            </a>
            <a class="s-navigation--item" href="/users/13700571/elderkali-tog?tab=reputation" title="Reputation you have earned" data-shortcut="R">
                Reputation
            </a>
            <a class="s-navigation--item" href="/users/13700571/elderkali-tog?tab=activity" title="Your recent actions" data-shortcut="L">
                All actions
            </a>
            <a class="s-navigation--item" href="/users/13700571/elderkali-tog?tab=responses" title="Your recent responses" data-shortcut="E">
                Responses
            </a>
            <a class="s-navigation--item" href="/users/13700571/elderkali-tog?tab=votes" title="Votes you have cast" data-shortcut="V">
                Votes
            </a>
    </div>

    