{% extends 'layout.html' %}

{% block body %}
 <div class="container">
     <h1>Register</h1>
     <form action="{{ url_for('auth.register') }}" method="POST">
         <div class="form-group">
            <label for="username">Username</label>
            <input id="username" class="form-control" type="text" name="username" placeholder="username.." requierd>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" type="email" name="email" placeholder="....@mail.com" requierd>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" name="password" placeholder="password...." requierd>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input id="confirm" class="form-control" type="confirm" name="confirm" placeholder="confirm...." requierd>
        </div>
        <button type="submit" class="btn btn-outline-primary">Register</button>
     </form>

     
 </div>"

{% endblock %}